.landing{
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing__introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-light);
}

.landing__introduction span{
    color: var(--yellow);
}

.landing__introduction h1{
    font-size: clamp(1.25rem, 5.5vw, 15rem);
    white-space: nowrap;
}

.landing__introduction h6{
    font-size: clamp(1rem, 2vw, 7rem);
    color: var(--pink);
}

.landing__arrow{
  font-size: clamp(3rem, 5vw, 9rem);
  color: var(--white-dark);
  position: absolute;
  bottom: 0;
  animation-duration: 0.6s;
  animation-name: goDown;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.neon-button {
    margin-top: 1em;
    font-size: clamp(2.5rem, 3.80vw, 12rem);
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--pink);
    border: var(--pink) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--pink), 0 0 0.5em 0 var(--pink);
  
    position: relative;
    transition: ease-in-out 0.2s;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--pink);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--pink);
    opacity: 0;
    background-color: var(--pink);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    color: var(--white-light);
    box-shadow: inset 0 -120px 0 0 var(--pink),
    0 0 2em 0 var(--pink);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
  