.project__section{
    display: flex;
    justify-content: space-between;
}

.project__section:nth-child(even){
    flex-direction: row-reverse;
}

.project__section-images--photo{
    aspect-ratio: 2 / 1;
    width: max(50vw, 480px);
    height: auto;
    border-radius: max(0.90vw, 20px);
}

.project__section-images, .project__section-details{
    margin: 2%;
}

.project__section-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project__section-details--title{
    font-size: max(3vw, 16px);
    color: var(--white-light);
}

.project__section-details--description{
    font-size: max(12px, 1.25vw);
    color: var(--white);
}

.project__section-details *{
    margin-block: 2.5%;
}

.project__section-details--buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
}

.project__section-details--buttons button{
    cursor: pointer;
    background-color: transparent;
    aspect-ratio: 3 / 1;
    width: max(15vw, 200px);
    font-size: max(2.2vw, 24px);
    color: var(--white);
    padding: 10px;
    border-radius: max(0.75vw, 10px);
    border: 2px solid var(--pink);
    transition: ease-in-out 0.2s;
}

.project__section-details--buttons button:hover{
    letter-spacing: 2px;
    box-shadow: inset 0 calc(-15vw / 3) 0 0 var(--pink),
    0 0 0.5rem 0 var(--pink),
    0 0 1rem 0 var(--pink),
    0 0 2rem 0 var(--pink);
}

@media screen and (max-width: 960px) {
    .project__section{
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .project__section-images{
        text-align: center;
    }
    
    .project__section:nth-child(even){
        flex-direction: column;
    }

    .project__section-details{
        width: 70%;
    }

    .project__section-details--description{
        font-size: clamp(8px, 4vw, 24px);
    }

    .project__section-details--title{
        font-size: clamp(12px, 5vw, 28px);
    }

    .project__section-details--buttons button{
        width: clamp(40px, 25.5vw, 200px);
        font-size: clamp(0.5rem, 3vw, 1.5rem);
    }

    .project__section-details--buttons button:hover{
        box-shadow: inset 0 calc(-200px / 3) 0 0 var(--pink),
        0 0 0.5rem 0 var(--pink),
        0 0 1rem 0 var(--pink),
        0 0 2rem 0 var(--pink);
    }

    .project__section-images--photo{
        width: clamp(180px, 90%, 960px);
        border-radius: clamp(10px, 1vw, 20px);
    }
}