* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes goUp {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-10%);
    }
}

@keyframes goDown {
    0%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0%);
    }
}


:root{
    --bg: #241734;
    --bg-light: #2E2157;
    --red: #A31621;
    --yellow: #E3B505;
    --pink: #F706CF;
    --white-light: rgba(255, 255, 255, 0.87);
    --white: rgba(255, 255, 255, 0.70);
    --white-dark: rgba(255, 255, 255, 0.48);
}

.page{
    min-height: 100vh;
    height: max-content;
    background-color: var(--bg);
}

.red{
    color: var(--red);
}

.yellow{
    color: var(--yellow);
}

.pink{
    color: var(--pink);
}